.host {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: var(--sidebar-width);
  height: calc(100svh - var(--header-height));
  transform: translateX(calc(var(--sidebar-width) * -1));
  padding: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1;

  &.sidebarExpanded {
    transform: translateX(0);
  }

  .sidebarContainer {
    padding: 24px;
    overflow-y: auto;
  }
}
