@use '@mezzanine-ui/system/palette';

.root {
  display: flex;
  flex-direction: column;
  padding: 40px 32px;
  gap: 24px;
  border: 1px solid palette.color(border);
  background-color: #fff;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);

  .logoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .formWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .inputFieldWithHint {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .inputWrapper {
      margin-bottom: 0;

      .input {
        width: 416px;
      }
    }

    .buttonsWrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-top: 16px;
    }
  }
}

.successRoot {
  width: 420px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 48px 32px;
  gap: 16px;
  border: 1px solid palette.color(border);
  background-color: #fff;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);

  .logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;

    .button {
      align-self: stretch;
    }
  }
}
