@use '@mezzanine-ui/system/palette';

.host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  background-color: palette.color(primary);
  border-color: palette.color(divider);
  padding: 0 40px;
  max-height: unset;
  z-index: 15;

  .burgerBtn {
    margin-right: 40px;
  }

  .appBarSupport {
    .dropdownBtn {
      padding: 4px;
      margin: 0;

      .iconsContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;

        .dropdownIcon {
          transition: transform 0.3s ease-in-out;

          &.open {
            transform: rotate(180deg);
          }
        }
      }
    }

    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 350px;
      padding: 0;
      max-height: unset;

      .wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        gap: 24px;
        padding: 24px 24px 32px;

        .infoWrapper {
          align-self: stretch;

          .nameWrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }

        .buttonsWrapper {
          align-self: stretch;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 16px;

          .button {
            flex: 1;

            & > * {
              width: 100%;
            }
          }
        }
      }

      .logoutButton {
        width: 100%;
      }
    }
  }
}

.changePasswordModal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 576px;
  background-color: transparent;
}
