@use '@mezzanine-ui/system/palette';

.menu {
  min-width: 160px;

  .dangerItem {
    color: palette.color(error-dark);

    &:hover {
      background-color: palette.color(error-hover-bg);
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: palette.color(border);
    margin: 4px 0;
  }
}
