@use '@mezzanine-ui/system/palette';

.root {
  padding: 40px;
  border: 1px solid palette.color(border);
  background-color: #fff;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);

  .logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    &.success {
      margin-bottom: 12px;
    }
  }

  .formWrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    .blocksWrapper {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;

      .blockWrapper {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        .inputWrapper {
          margin-bottom: 0;

          .input {
            width: 400px;
          }
        }
      }
    }

    .button {
      align-self: stretch;
    }
  }
}
