.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 16px;
  padding: 32px 48px;

  &.isFormPage {
    padding-bottom: 100px;
  }

  .titleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .actionsWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }
}
