.host {
  width: 100%;

  &.specifiedWidth {
    width: var(--width);
  }

  .fieldWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &.reverseButtonAndFiles {
      flex-direction: column-reverse;
    }

    .filesWrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .uploadButton {
      align-self: self-start;
    }
  }
}
