@use '@mezzanine-ui/system/palette';

.root {
  padding: 40px 32px;
  border: 1px solid palette.color(border);
  background-color: #fff;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);

  .logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .formWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .buttonsWrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-top: 16px;
    }

    .inputWrapper {
      margin-bottom: 0;

      .input {
        width: 416px;
      }
    }
  }
}
