@use '@mezzanine-ui/system/palette';

.host {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  border-top: 1px solid palette.color(border);
  bottom: 0;
  right: 0;
  left: var(--footer-offset);
  background-color: #fff;
  transition: left 0.3s ease-in-out;

  &.expanded {
    left: 0;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
  }
}
